<mat-accordion class="orb-accordion">
  <mat-expansion-panel
    *ngFor="let panel of panels"
    [expanded]="panel.isExpanded"
    (opened)="onOpened(panel)"
    (closed)="onClosed(panel)"
    [ngClass]="{ 'custom-border': panel.isExpanded }"
    hideToggle
  >
    <mat-expansion-panel-header
      [ngStyle]="{ 'background-color': panel.isExpanded ? 'white' : '#f2f2f2' }"
    >
      <mat-panel-title>
        {{ panel.name }}
        <span class="ml-3 optus-primary">
          <!-- {{ selectedAddOn?.title
          }} -->
          <i
            class="fa fa-edit"
            *ngIf="panel.isChecked && !panel.isExpanded"
          ></i>
        </span>
      </mat-panel-title>

      <mat-panel-description>
        <span class="optus-primary">{{
          panel.isExpanded ? 'Hide Details' : 'See Details'
        }}</span>
        <span class="material-icons optus-primary">
          {{ panel.isExpanded ? 'expand_less' : 'expand_more' }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container #container></ng-container>
  </mat-expansion-panel>
</mat-accordion>
